body{
    font-family: 'Times New Roman', Times, serif;
    margin: 2em;
}
h1{
    display: flex;
    justify-content: center;
}
#topOfPage{
    display: flex;
    justify-content: center;
    align-content: center;
}
#studentId{
    visibility: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#imgTitle{
    margin: 5px;
}
#author{
    margin: 5px;
}
#dateDisplay{
    margin: 5px;
}
#apodImg{
    width: 50%;
    height: 50%;
}